body{
    background-color: rgb(57, 120, 122);
    background-size: cover;
}
table{
    width: 80%;
    margin: 40px auto;
    background: rgb(54, 90, 95);
}
table.list{
    text-align: center;
    width: 100%;
}
td{
    border: 2px solid rgb(96, 134, 98);
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even), table.list thread> tr{
    background-color: rgb(133, 149, 151) ;
}
input[type="textarea"],input[type="text"],input[type="image"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(96, 134, 98);
    border-radius: 4px;
}
input[type="submit"],input[type="reset"]{
    background: rgb(64, 151, 144);
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background: #67d391;
}input[type="reset"]:hover{
    background: #d3875b;
}
button{
    background: rgb(64, 151, 144);
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

